/composer.lock
/vendor/

node_modules
package-lock.json
.env
dist
./dist
.idea
yarn.lock
yarn-error.log
src/scss/fonticon-variables.scss
src/assets/fonts/pg-icons
src/scss/font-icon.scss
src/scss/_variables.scss

blocks/node_modules
blocks/build