@theme {
  --color-primary: #46785e;
  --color-primary-50: #f2f7f4;
  --color-primary-100: #dfece3;
  --color-primary-200: #c1d9c9;
  --color-primary-300: #98bda7;
  --color-primary-400: #6b9c81;
  --color-primary-500: #46785e;
  --color-primary-600: #37644e;
  --color-primary-700: #2c503f;
  --color-primary-800: #254034;
  --color-primary-900: #1f352b;
  --color-primary-950: #101e17;


  --font-yekanbakh: 'yekanbakh';
}